@{
    ViewData["Title"] = "Home Page";
}
<div class="w-100 d-flex flex-row">
    <div class="w-100 d-flex flex-column align-items-center">
        <h2 style="margin-top:5em;" class="mb-2">Bygg ett profesionellt CV</h2>
        <h2 class="mb-4">på mindre än 10 minuter.</h2>
        <a data-aos-duration="1000" data-aos="flip-up" asp-controller="Resumes" asp-action="Create" class="CTA-Button">Börja direkt <i class="fas fa-chevron-right ml-2"></i></a>
    </div>
    <div class="w-100">
        <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_mfxcee5x.json" background="transparent" speed="1" style="width: 700px; height: 700px; transform:translateX(200px)" loop autoplay></lottie-player>
    </div>

</div>